<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="chartsApp.product.detail.title">Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="chartsApp.product.name">Name</span></dt>
                <dd>
                    <span>{{product.name}}</span>
                </dd>
                <dt><span jhiTranslate="chartsApp.product.country">Country</span></dt>
                <dd>
                    <span jhiTranslate="{{'chartsApp.Country.' + product.country}}">{{product.country}}</span>
                </dd>
                <dt><span jhiTranslate="chartsApp.product.color">Color</span></dt>
                <dd>
                    <span jhiTranslate="{{'chartsApp.Color.' + product.color}}">{{product.color}}</span>
                </dd>
                <dt><span jhiTranslate="chartsApp.product.quantity">Quantity</span></dt>
                <dd>
                    <span>{{product.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="chartsApp.product.price">Price</span></dt>
                <dd>
                    <span>{{product.price}}</span>
                </dd>
                <dt><span jhiTranslate="chartsApp.product.date">Date</span></dt>
                <dd>
                    <span>{{product.date}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
